{% extends 'layout.html' %}
{% block main_content %}
<h2>Über BrowsingHistoryEditor</h2>
<div>
<p>Der BrowsingHistoryEditor wurde speziell für das Forschungsprojekt am IPMZ der Universität Zürich entwickelt.<br />Es dient dazu, den Browserverlauf zu laden, Einträge zu anonymisieren und den bearbeiteten Browserverlauf als CSV-Datei zu exportieren.</p>
<p>Folgende Betriebssysteme und Browser werden unterstützt:</p>
<ul>
<li><strong>Windows 7/8/10</strong> (32-Bit/64-Bit):</li>
<ul>
<li>Edge / Internet Explorer (ab Version 10)</li>
<li>Google Chrome</li>
<li>Firefox</li>
</ul>
<li><strong>macOS / OS X</strong>:</li>
<ul>
<li>Google Chrome</li>
<li>Firefox</li>
<li>Safari</li>
</ul>
</ul>
<p>Weitere Informationen sind in den <a href="/faqs">FAQs</a> oder der Anleitung zu finden.</p>
<p>Der Quellcode ist auf <a href="https://github.com/grwllrnc/BrowsingHistoryEditor" target="_blank">Github</a> dokumentiert.</p>
<br />
</div>
<div><h4>Version</h4>
<p>BrowsingHistoryEditor Version 0.1.1</p><br />
</div>
<div>
<h4>Logfile</h4>
<p><a href="/log" class="btn btn-default btn-sm">Server Log exportieren</a></p><br />
</div>
<div>
	<h4>Kontakt</h4>
    <p>Universität Zürich<br />
    IPMZ – Institut für Publizistik- wissenschaft und Medienforschung<br />
    Abteilung Media Change & Innovation<br />
    Andreasstrasse 15<br />
    CH-8050 Zürich</p>
<p>Tel. 044 635 20 76<br />
    <a mailto:b.gerwollronca@ipmz.uzh.ch>b.gerwollronca@ipmz.uzh.ch</a>
</p><br />
</div>

<div>
<h4>Disclaimer</h4>
<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br />
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,<br />
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE<br />
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER<br />
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,<br />
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE<br />
SOFTWARE.</p>
</div>

    
{% endblock %}
